DELETE FROM transactions WHERE id IN (SELECT id FROM (SELECT id, ROW_NUMBER() OVER (PARTITION BY user_id, definition_id, due_date ORDER BY created_at) as row_num FROM transactions WHERE title = 'bursa şube kira') t WHERE row_num > 1);
